<ng-container *ngIf="attribute && attribute.type === 'color'">
  <h3>{{ attribute.name }}</h3>
  <div class="options">
    <button
      *ngFor="let color of colors"
      (click)="update.emit(color)"
      class="color-button"
      [class.color-active]="attribute.value === color"
      [style.color]="color"
    ></button>
  </div>
</ng-container>

<ng-container *ngIf="attribute && attribute.type === 'visible'">
  <h3>{{ attribute.name }}</h3>
  <div class="options">
    <button
      (click)="update.emit('true')"
      class="toggle-on"
      [class.toggle-active]="attribute.value === 'true'"
    >
      On
    </button>
    <button
      (click)="update.emit('false')"
      class="toggle-off"
      [class.toggle-active]="attribute.value === 'false'"
    >
      Off
    </button>
  </div>
</ng-container>
