.options {
  display: flex;
}

.color-button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  margin-right: var(--mc-space-s);
  background-color: currentColor;
  cursor: pointer;
  position: relative;
}

.toggle-on,
.toggle-off {
  padding: var(--mc-space-s) var(--mc-space-m);
  background: none;
  border: 1px solid var(--mc-color-accent);
  color: var(--mc-color-accent);
  border-radius: var(--mc-radius) 0 0 var(--mc-radius);
  cursor: pointer;
}

.toggle-off {
  border-radius: 0 var(--mc-radius) var(--mc-radius) 0;
}

.toggle-active {
  background-color: var(--mc-color-accent);
  color: var(--mc-color-fg-inverted);
}
