:host {
  display: block;
  height: 100%;
}

.card {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #aaa;
  height: 250px;
}

.name {
  display: block;
  font-size: 20px;
  margin-bottom: 16px;
}

.preview {
  max-width: 100%;
  object-fit: contain;
}

