:host {
  display: block;
  height: 100%;
}

.card {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: var(--mc-space-m);
  padding: var(--mc-space-m);
  border-radius: var(--mc-radius);
  border: 1px solid var(--mc-color-border);
  height: var(--mc-card-height);
}

.name {
  display: block;
  font-size: var(--mc-font-l);
  margin-bottom: var(--mc-space-m);
}

.preview {
  max-width: 100%;
  object-fit: contain;
}

