.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mc-space-m);
  background-color: var(--mc-color-accent);
  color: var(--mc-color-fg-inverted);
}

.title {
  margin: 0;
  font-size: var(--mc-font-xl);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mc-space-m);
}

.back {
  color: inherit;
  text-decoration: none;
  padding: var(--mc-space-s) var(--mc-space-m);
  background: none;
  border: 1px solid var(--mc-color-border);
  border-radius: var(--mc-radius);
  cursor: pointer;
}

.remove-button {
  padding: 8px var(--mc-space-m);
  background: none;
  border: 1px solid var(--mc-color-danger);
  color: var(--mc-color-danger);
  border-radius: var(--mc-radius);
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: auto var(--mc-sidebar-width);
  grid-column-gap: var(--mc-space-m);
  padding: var(--mc-space-m);
}

.viewer {
  padding: var(--mc-space-m);
  border-radius: var(--mc-radius);
  border: 1px solid var(--mc-color-border);
}

.customizer {
  padding: var(--mc-space-m);
  border-radius: var(--mc-radius);
  border: 1px solid var(--mc-color-border);
}
