.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mc-space-m);
  background-color: var(--mc-color-accent);
  color: var(--mc-color-fg-inverted);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mc-space-m);
}

.title {
  margin: 0;
  font-size: var(--mc-font-l);
}

.restore-button {
  padding: var(--mc-space-s) var(--mc-space-m);
  background: none;
  border: 1px solid var(--mc-color-border);
  border-radius: var(--mc-radius);
  cursor: pointer;
}

.catalog {
  display: grid;
  padding: var(--mc-space-m);
  grid-template-columns: repeat(auto-fill, minmax(var(--mc-card-width), 1fr));
  grid-column-gap: var(--mc-space-m);
}
